{% load static %}
<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAFIA-Бронювання столиків</title>
    <link rel="icon" href="{% static 'main/Logo.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'main/Style.css' %}" />
  </head>
  <body>
    <header>
      <div id="logo">
        <a href="{% url 'home'  %}">
          <img src="{% static 'main/Logo.png' %}" alt="Logo" />
        </a>
      </div>
      <div id="title">
        <p>MAFIA</p>
      </div>
      <nav>
        <div id="navbar">
          <ul>
            <li id="nav-home">
              <a href="{% url 'home' %}">Головна</a>
            </li>
            <li id="nav-menu">
              <a href="{% url 'menu' %}">Меню ▾</a>
              <ul id="dropdown-menu">
                <li><a href="{% url 'menu' %}">Піца</a></li>
                <li><a href="{% url 'menu' %}">Суші</a></li>
                <li><a href="{% url 'menu' %}">Напої</a></li>
                <li><a href="{% url 'order' %}">Доставка</a></li>
              </ul>
            </li>
            <li id="nav-tablles">
              <a class="no-active" href="{% url 'reservation' %}">Бронювання столиків</a>
            </li>
            <li id="nav-feedback"><a href="#">Відгуки та коментарі</a></li>
          </ul>
        </div>
      </nav>
      <div id="contacts">
        <p>+370 (673) 76 573</p>
        <p>mafia@restaurant.com</p>
      </div>
    </header>
    <div id="form">
      <div id="form-block">
        <h2>Форма бронювання столику</h2>
        <form action="" class="form" id="reserv-form">
          <div class="input-box">
            <label for="name">Введіть ваше ім'я</label>
            <input
              data-required="true"
              type="text"
              class="input-field"
              name="name"
              pattern="[^0-9]*"
              placeholder="Максим"
            />
          </div>
          <div class="input-box">
            <label for="surname">Введіть ваше прізвище</label>
            <input
              data-required="true"
              type="text"
              class="input-field"
              name="surname"
              pattern="[^0-9]*"
              placeholder="Воловик"
            />
          </div>
          <div class="input-box">
            <label for="email">Введіть вашу електронну адресу</label>
            <input
              data-required="true"
              type="email"
              class="input-field"
              name="email"
              placeholder="maksym.volovyk@gmail.com"
            />
          </div>
          <div class="input-box">
            <label for="tel">Введіть ваш номер телефону (не обов'язково)</label>
            <input
              id="phone"
              type="tel"
              class="input-field"
              name="phone"
              placeholder="0957098150"
            />
          </div>
          <div class="input-box">
            <label for="date">Виберіть дату бронювання</label>
            <input
              data-required="true"
              id="booking-date"
              type="date"
              class="input-field"
              name="date"
            />
          </div>
          <div class="input-box">
            <label for="quests">Виберіть кількість гостей</label>
            <select id="quest" name="quests" class="input-field">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div id="button-block">
            <button type="submit" class="submit-btn">Відправити</button>
            <button type="reset" class="reset-btn">Очистити</button>
          </div>
        </form>
      </div>
      <div id="new-alert">
        <h2>Столик успішно заброньовано!</h2>
        <button id="hide-block">ok</button>
      </div>
    </div>
    <script src="{% static 'main/script.js' %}"></script>
  </body>
</html>
